body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.timerDiv{
  border: 0.5px black solid;
  border-radius: 25px;
  margin-bottom: 50px;
  padding: 30px;
  width: 300px;
}

h1{
  text-align: center;
  margin: 50px;
}

.btn{
  margin: 20px;
}

#renderDiv{
  text-align: center;
  margin: 50px;
}


